/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.title, .subtitle {
  color: #EEE;
}

a:hover {
  text-decoration: none;
}

.header {
  text-align: center;
  background-color: #3498db;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  background-color: #3498db;
  color: #EEE;
  width: 22rem;
  margin: 1rem 0;
}

.sml-card:hover {
  background-color: #0D2137;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}
